<div class="">
    <div class="container">
	
	<form name="userForm">
			<div class="form-group">
				<label for="firstName">First Name:</label>
				<input ng-model="badge.firstName" type="text" class="form-control" id="firstName">
			</div>
			<div class="form-group">
				<label for="lastName">Last Name:</label>
				<input ng-model="badge.lastName" type="text" class="form-control" id="lastName">
			</div>
			<div class="form-group">
				<label for="badgeId">Badge ID:</label>
				<input ng-model="badge.badgeId" type="text" class="form-control" id="badgeId">
			</div>
			<div class="form-group">
				<label for="phone">Phone:</label>
				<input ng-model="badge.phone" type="text" class="form-control" id="phone">
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input ng-model="badge.email" type="text" class="form-control" id="email">
			</div>
          <p><button class="btn btn-primary" ng-click="addBadge()">Add Badge</button></p>
	</form>
	</div>
</div>
