<div class="">
<div class="container">

	<form name="userForm">
			<div class="form-group">
				<label for="username">User Name:</label>
				<input ng-model="username" type="text" class="form-control" id="username">
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" ng-model="password" type="text" class="form-control" id="password">
			</div>
          <p><button class="btn btn-primary" ng-click="authenticate()">Log In</button></p>
	</form>
</div>
</div>
