<div>

<div class="container">
  <h2>Badges In the System</h2>
  <p class="text">The following badges are active in the system:</p>
  <table class="table table-hover">
    <thead>
      <tr><th>First Name</th><th>Last Name</th><th>Badge ID</th><th>Phone</th><th>Email</th><th>Active</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in devices">
        <td>{{d.firstName}}</td>
        <td>{{d.lastName}}</td>
        <td>{{d.badgeId}}</td>
        <td>{{d.phone}}</td>
        <td>{{d.email}}</td>
        <td><a class="pointer" ng-click="updateBadge(d)">Deactivate</a></td>
      </tr>
    </tbody>
  </table>
  <p><button class="btn btn-primary" ng-click="navToBadges()">Add a badge</button></p>
</div>
</div>
