<div>

<div class="container">
  <h2>RFID Users In the System</h2>
  <p class="text">The following users have RFID cards:</p>
  <!-- Use of ng-repeat. See the controller for the data -->
  <table class="table table-hover">
    <thead>
      <tr><th>First Name</th><th>Last Name</th><th>RFID</th><th>Enabled?</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in devices">
        <td>{{d.firstName}}</td>
        <td>{{d.lastName}}</td>
        <td>{{d.rfidId}}</td>
        <td><a ng-click="updateUser(d)">{{d.status==1}}</a></td>
      </tr>
    </tbody>
  </table>

          <p><button class="btn btn-primary" ng-click="navToUsers()">Add a User</button></p>
<!--          <p><button  class="btn btn-primary" ng-click="logUserOut()">Log Out</button></p> -->
</div>
</div>
