<div class="">
    <div class="container">
	
	<form name="userForm">
			<div class="form-group">
				<label for="firstName">First Name:</label>
				<input ng-model="user.firstName" type="text" class="form-control" id="firstName">
			</div>
			<div class="form-group">
				<label for="lastName">Last Name:</label>
				<input ng-model="user.lastName" type="text" class="form-control" id="lastName">
			</div>
			<div class="form-group">
				<label for="rfidId">RFID Card Number:</label>
				<input ng-model="user.rfidId" type="text" class="form-control" id="rfidId">
			</div>
          <p><button class="btn btn-primary" ng-click="addUser()">Add User</button></p>
	</form>
	</div>
</div>
